[Desktop Entry]
Name=Pluslife Analyzer
Comment=Analyzes Pluslife
Icon=/opt/pluslife.png
Exec=/usr/bin/chromium-browser --no-first-run --noerrdialogs --start-maximized --touch-devices={{ pluslife.touch_device_id }} --disable-notifications --disable-infobars --app="file:///opt/Pluslife Analyzer.html"
Type=Application
Encoding=UTF-8
Terminal=false
Categories=Internet;
